#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    
}

.text-hibah {
    font-size: 30px;
    color: rgb(255, 255, 255)
}

.hibah-button {
    color: white;
    background-color: purple;
}